{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6
  },
  "env": {
    "browser": true,
    "jest": true
  },
  "plugins": [
    "react"
  ]
}