{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "jsx": true
  },
  "env": {
    "browser": true,
    "jest": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "indent": ["error", 2],
    "quotes": ["error", "double", {
      "allowTemplateLiterals": true
    }],
    "no-trailing-spaces": "error"
  }
}